.box {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.box:hover {
  opacity: 70%;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.indicator {
  height: 100px;
  width: 300px;
  border: 2px solid black;
}
